code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  /* background-color: rgb(238, 233, 233); */
}
.to-center {
  display: flex;
  justify-content: center;
}
