.Search_image {
  width: 40px;
  height: 60px;
}
#categoryName {
  width: 100%;
  padding: 8px;
  border: 0;
}
.productImage-admin {
  width: 100%;
}
.editImage {
  width: 80px;
  margin: 0;
}
.uploadImageButton{
}
