.productHome {
  width: 100px;
  height: 150px;
  float: left;
  margin: 10px;
}
.ProductCard {
  width: 100%;
  height: 100%;
  margin-left: 15px;
  margin: 15px;
  border-radius: 20%;
}
.CatyegoryImg {
  height: 100%;
  width: 100%;
}
.banner {
  background-color: #eee9e9;
  margin-top: 30px;
  margin-bottom: 30px;
}
.StatisticIcom {
  width: 100px;
  height: 100px;
}
.sd {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputContact {
  background-color: #605ca8;
  border: 1px solid gray;
}
textarea {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
}
.contact {
  border-radius: 20px;
}
