.Admin-button {
  background-color: transparent !important;
  border: 0 !important;
  color: red !important;
  margin-top: -4px !important;
}
.SearchNotFound {
  width: 220px;
  height: 150px;
  /* display: flex; */
  /* justify-content: center !important; */
}
.AdminNav-container {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343748;
  padding-top: 20px;
  display: block;
}
.AdminNavLink {
  font-size: 40px;
  color: darkgrey;
  margin-top: 40px;
  margin-left: 13%;
}
.AdminNavLink :hover {
  opacity: 0.5;
}
